@import "tailwindcss";

/* src/assets/global.css */
:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* 스크롤바 전체 */
::-webkit-scrollbar {
  width: 4px;
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
  background: rgba(108, 92, 231, 0.3);
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 스크롤바 막대 호버 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(108, 92, 231, 0.6);
}

/* 스크롤바 thumb 호버 중 부모 요소 hover */
:hover::-webkit-scrollbar-thumb {
  background: rgba(108, 92, 231, 0.5);
}

/* 스크롤바 코너 */
::-webkit-scrollbar-corner {
  background: transparent;
}
